<div
  class="flex flex-col w-1/4 mx-auto shadow bg-slate-50 border rounded m-1 p-5"
>
  <h3 class="text-center font-semibold mb-5">Contact Form</h3>

  <div class="grid grid-cols-1">
    <form #myForm="ngForm" (submit)="onSubmit()">
      <label>Name:</label>
      <input
        type="text"
        class="text-box"
        name="contact"
        [(ngModel)]="contactInfo.name"
        required
        minlength="2"
        #nameTxtBx="ngModel"
      />
      <div class="error-div">
        @if((nameTxtBx.dirty || nameTxtBx.touched) && nameTxtBx.invalid) {
        @if(nameTxtBx.errors?.['required']) {
        <span>Name required</span>
        } @else if (nameTxtBx.errors?.['minlength']) {
        <span>Min length 2</span>
        } }
      </div>

      <label>Email:</label>
      <input
        type="email"
        class="text-box"
        name="email"
        [(ngModel)]="contactInfo.email"
        required
        email
        minlength="4"
        #emailTxtBx="ngModel"
      />
      <div class="error-div">
        @if ((emailTxtBx.touched || emailTxtBx.dirty) && emailTxtBx.invalid) {
        @if(emailTxtBx.errors?.['required']) {
        <span>Email required</span>
        } @else if (emailTxtBx.errors?.['minlength']) {
        <span>Min length 4</span>
        } @else if (emailTxtBx.errors?.['email']) {
        <span>Invalid Email</span>
        } }
      </div>

      <label>Subject:</label>
      <input
        type="text"
        class="text-box"
        name="subject"
        [(ngModel)]="contactInfo.subject"
        required
        minlength="2"
        #subjectTxtBx="ngModel"
      />
      <div class="error-div">
        @if ((subjectTxtBx.dirty || subjectTxtBx.touched) &&
        subjectTxtBx.invalid) { @if(subjectTxtBx.errors?.['required']) {
        <span>Subject required</span>
        } @else if (subjectTxtBx.errors?.['minlength']) {
        <span>Min length of 2 for subject</span>
        } }
      </div>

      <label>Message:</label>
      <textarea
        type="text"
        class="text-box"
        name="message"
        [(ngModel)]="contactInfo.message"
        required
        minlength="5"
        #msgTxtArea="ngModel"
      ></textarea>
      <div class="error-div">
        @if((msgTxtArea.dirty || msgTxtArea.touched) && msgTxtArea.invalid) {
        @if(msgTxtArea.errors?.['required']) {
        <span>Message required</span>
        } @else if (msgTxtArea.errors?.['minlength']) {
        <span>Min length of 5 for message</span>
        } }
      </div>

      <button type="submit" class="submit-btn" [disabled]="myForm.invalid">
        Submit
      </button>
    </form>
  </div>

  <div class="bg-yellow-50 mt-5 grid grid-cols-2">
    <div>Name:</div>
    <div class="text-blue-500 mb-2 text-left">{{ contactInfo.name }}</div>

    <div>Email:</div>
    <div>{{ contactInfo.email }}</div>

    <div>Subject:</div>
    <div>{{ contactInfo.subject }}</div>

    <div>Message:</div>
    <div>{{ contactInfo.message }}</div>
  </div>
</div>
