<div
  class="flex flex-col w-1/4 mx-auto shadow bg-slate-50 border rounded m-1 p-5"
>
  <h3 class="text-center font-semibold mb-5">Contact Form</h3>

  <div class="grid grid-cols-1">
    <label>Name:</label>
    <input type="text" class="text-box" />

    <label>Email:</label>
    <input type="email" class="text-box" />

    <label>Subject:</label>
    <input type="text" class="text-box" />

    <label>Message:</label>
    <textarea type="email" class="text-box"></textarea>

    <button class="submit-btn">Submit</button>
  </div>
</div>
