<div
  class="flex flex-col w-3/4 p-5 m-5 mx-auto shadow border rounded border-slate-200"
>
  <h3 class="hThree">Hover Directives</h3>

  <label class="label-txt" appHover [highlightColor]="'lightblue'"
    >Hover to see LIGHT BLUE highlight</label
  >

  <label class="label-txt" appHover [highlightColor]="'lightpink'"
    >Hover to see LIGHT PINK highlight</label
  >

  <label class="label-txt" appHover [highlightColor]="'lightGreen'"
    >Hover to see LIGHT GREEN highlight</label
  >

  <!-- <h3 class="hThree">Text Transform Directive</h3>

  <label class="label-txt" appTextTransform [case]="'upper'"
    >text in upper case</label
  >

  <label class="label-txt" appTextTransform [case]="'lower'"
    >TEST IN LOWER CASE</label
  > -->
</div>
